<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-175">
    <daisy-hero-content [id]="idValue.pdv">
        <img src="assets/image/pdv.jpg"
            class="max-w-sm w-full rounded-lg shadow-2xl" alt="pdv" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Fantury PDV - (Frente de Loja)</h1>
            <p class="py-6">
                Fantury PDV - Frente de Loja é mais do que uma simples sistema, é uma ferramenta completa projetada para
                otimizar
                todas as etapas do processo de venda, proporcionando uma experiência aprimorada tanto para os operadores
                de caixa quanto para os clientes. Capacite seus operadores de caixa com uma interface amigável e
                intuitiva, facilitando o processo de venda e garantindo uma experiência positiva para o cliente.
            </p>
            <p class="py-6">
                Entre seus diversos recursos essenciais, podemos destacar a emissão de NFC-e Simplificada. Agilize o
                processo de emissão de Notas Fiscais do Consumidor Eletrônicas (NFC-e), garantindo conformidade fiscal e
                praticidade no momento da venda.

                Mantenha o controle total sobre suas transações com o sistema avançado de gestão do caixa diário. Com
                recursos intuitivos, você pode garantir uma gestão financeira precisa e organizada dos caixas diários
                gerados pelos operadores, simplificando a administração de sua loja.

                Realize operações de venda de forma rápida e eficiente, proporcionando uma experiência de compra fluida
                e satisfatória para seus clientes.

                Com a Solução Frente de Loja, você tem tudo o que precisa para impulsionar suas operações de venda,
                desde a emissão de NFC-e até o controle de caixa e operações de venda, tudo em uma única plataforma.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">

    <daisy-hero-content o_hero-content_class="text-left flex-col lg:flex-row-reverse">        
        <img src="assets/image/pdv-grid.png"
            class="max-w-xl w-full rounded-lg shadow-2xl"  alt="pdv-grid"/>
        <div class="max-w-full">

            <div class="bg-base-200 p-6 rounded-xl hover:shadow-xl">
                <h3 class="text-xl font-semibold mb-3 ">Algumas funcionalidades</h3>
                <ul class="list-disc list-inside text-lg space-y-1">
                    <li>Integrado com: Balança (Checkout), Orçamento, Pré-Venda, Pedido de Venda, Transferência
                        Eletrônica de Fundos (TEF) e Sistema de Retaguarda.</li>
                    <li>Impressoras não-fiscais homologadas para Impressão NFC-E (BEMATECH, DARUMA, EPSON, ELGIN)</li>
                    <li>Consulta de Preço</li>
                    <li>Contingência automática</li>
                    <li>Acesso por Código de barras</li>
                    <li>CNPJ/CPF do consumidor no cupom</li>
                    <li>Atende a legislação vigente</li>
                    <li>Emissão de NFC-e Contingência automática</li>
                </ul>
            </div>
        </div>
    
    </daisy-hero-content>
</daisy-hero-ui>
