<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-125">
    <daisy-hero-content [id]="idValue.pdvweb">
      <img src="assets/image/pdv-web.png"
            class="max-w-sm w-175 rounded-lg shadow-2xl" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Fantury PDV WEB</h1>
            <p class="py-6">
                Desenvolvido para dar mais autonomia aos vendedores, o PDV Web elimina a necessidade de terminais fixos.
                Com ele, é possível realizar orçamentos, lançar produtos e concluir vendas diretamente de um celular ou
                tablet, de qualquer lugar da loja.

                O novo módulo integra-se perfeitamente ao sistema Fantury, oferecendo uma solução completa e prática
                para agilizar o processo de venda. Além da mobilidade, seus vendedores terão em mãos dashboards em tempo
                real, permitindo acompanhar seu desempenho e melhorar continuamente seus resultados.

                Com o módulo PDV Web, sua equipe ganha liberdade para vender mais e melhor, enquanto o cliente aproveita
                um atendimento ágil, moderno e eficiente.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>

<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">
    <daisy-hero-content [id]="idValue.pdvweb">
        <iframe FlexDimension src="https://www.youtube.com/embed/KNx7vC07ujs" title="Fantury PDV Web"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </daisy-hero-content>
</daisy-hero-ui>
