<div class="hero min-h-150">
    <div class="hero-content text-center fade-in" [class.loaded]="loader()">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Whatsapp</h1>
            <p class="py-6">
                se estiver no celular, clique abaixo para iniciar uma conversa diretamente no
                aplicativo
            </p>
            <a href="https://wa.me/557388610165" target="_blank" rel="noopener noreferrer">Falar Conosco no Whatsapp</a>

            <br><br><br><br>
            <p>Para usar o WhatsApp Web, clique aqui: <a href="https://web.whatsapp.com/" target="_blank"
                    rel="noopener noreferrer">Abrir WhatsApp Web</a></p>
        </div>
    </div>
</div>