<daisy-hero-ui o_bgBase="bg-base-300" o_minHeight="min-h-175">
    <div class="row column-xs gap-10 p-10">
        <daisy-card-ui class="item" o_class="bg-base-100">
            <figure class="px-10 pt-10">
                <img src="./assets/image/anyviewer.png" alt="anyviwer-remote-app" class="rounded-xl" width="250" />
            </figure>
            <header class="card-body items-center text-center">
                <h2 class="card-title">Acesso Remoto AnyViewer</h2>
                <p>Com o acesso remoto, podemos lhe ajudar de maneira mais rápida Iniciar Acesso Remoto</p>
                <br>
                <div class="card-actions">
                    <a href="https://dl.anyviewer.com/noinstall/AnyViewer.exe" class="btn f-btn">Baixar
                        AnyViewer</a>
                </div>
            </header>
        </daisy-card-ui>
        <daisy-card-ui class="item" o_class="bg-base-100">

            <figure class="px-10 pt-10">
                <img src="./assets/image/anydesk.png" alt="anydesk-remoto-app" class="rounded-xl" width="250" />
            </figure>
            <header class="card-body items-center text-center">
                <h2 class="card-title">Acesso Remoto AnyDesk</h2>
                <p>Com o acesso remoto, podemos lhe ajudar de maneira mais rápida Iniciar Acesso Remoto</p>
                <br>
                <div class="card-actions">
                    <a href="https://dl.anyviewer.com/noinstall/AnyViewer.exe" class="btn f-btn">Baixar
                        AnyDesk</a>
                </div>
            </header>

        </daisy-card-ui>
        <daisy-card-ui class="item" o_class="bg-base-100">
            <figure class="px-10 pt-10">
                <img src="./assets/image/fanturymanagement.PNG" alt="fanturymanagement-app" class="rounded-xl" width="250" />
            </figure>
            <header class="card-body items-center text-center">
                <h2 class="card-title">Acesso Privado</h2>
                <p>Área privada do Técnico</p>
                <br>
                <br>
                <div class="card-actions">
                    <a href="http://app.management.fanturyerp.com.br/#/authentication" target="_blank"
                        class="btn f-btn">Acessar</a>
                </div>
            </header>
        </daisy-card-ui>
    </div>
</daisy-hero-ui>