<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-125">
    <daisy-hero-content [id]="idValue.catalogo">
        <img src="assets/image/catalogo-online.png" alt="fantury-catalogo" class="max-w-sm w-full rounded-lg shadow-2xl" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Catalogo On-line</h1>
            <p class="py-6">
                Transforme sua forma de vender com o Catálogo On-line. Ele permite que seus clientes façam pedidos de
                forma digital, sem depender de um vendedor. Com uma interface simples, acessível de qualquer dispositivo
                e disponível 24 horas por dia, sua empresa ganha agilidade nas vendas e mais autonomia para os clientes.
            </p>
            <p class="py-6">
                O Catálogo On-line, totalmente integrado ao ERP, auxilia de forma direta o processo de realização de
                pedidos, proporcionando maior autonomia aos clientes. Com essa ferramenta, sua empresa pode modernizar
                suas operações de venda, oferecendo uma experiência digital eficiente e acessível.
            </p>

        </div>
    </daisy-hero-content>
</daisy-hero-ui>


<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">
    <daisy-hero-content [id]="idValue.catalogo">
        <div class="p-4 text-justify">
            <p class="py-6">
                Além de automatizar o processo de pedidos, eliminando erros manuais e retrabalho, o Catálogo On-line
                oferece uma experiência de compra personalizada, proporcionando maior agilidade nas vendas. Com ele,
                seus clientes podem realizar pedidos a qualquer hora, de forma autônoma, enquanto sua equipe mantém
                total controle e previsibilidade do ciclo de vendas, garantindo eficiência e modernidade no
                relacionamento comercial.
            </p>
        </div>
        <img src="./assets/image/catalogo2.png" alt="fantury-coletor" class="max-w-lg w-full rounded-lg shadow-2xl" />
    </daisy-hero-content>
</daisy-hero-ui>

<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">

    <daisy-hero-content o_hero-content_class="text-left">
        <div class="max-w-full">
            <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
                <h3 class="text-xl font-semibold mb-3 ">Com o Catálogo on-line sua empresa tem:</h3>
                <ul class="list-disc list-inside text-lg space-y-1">
                    <li>Interface amigável e de fácil navegação;</li>
                    <li>Gestão de pedidos integrada, permitindo acompanhamento em tempo real via ERP;</li>
                    <li>Acessibilidade em múltiplos dispositivos, como desktop, tablets e smartphones;</li>
                    <li>Disponibilidade 24/7 para realizar pedidos a qualquer hora.</li>
                </ul>
            </div>

        </div>
    </daisy-hero-content>
</daisy-hero-ui>

<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-25">
    <daisy-hero-content>
        <div class="p-4 ">
            <p class="py-6 text-center">
                Quer ver o Catálogo On-line em ação?<em> <a
                        href="https://catalog.fanturyerp.com.br/#/company/sopapel/catalog-list"
                        target="_blank" class="link link-info"> Acesse o nosso catálogo de demonstração </a></em>
                e descubra como essa ferramenta pode transformar o seu negócio!
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
