<daisy-hero-ui o_minHeight="min-h-125">
    <daisy-hero-content>
        <div>
            <h1 class="text-4xl">Quem Somos?</h1>
            <p class="py-10 text-justify">
                A Fantury foi Fundada em Eunápolis-Bahia no ano de 1998, inicialmente com o nome de Caribé Silva
                Informática. Até 2003,
                trabalhamos em parceria com a empresa Optima Informática, para atender escritórios de contabilidade na
                região sul Bahia.
                A partir de 2000, começamos a desenvolver e a comercializar o Fantury ERP, com o objetivo de oferecer
                aos clientes um software com mais recursos,
                praticidade e menor custo do que os encontrados no mercado à época. Desde então, contabilizamos um
                aumento substancial no faturamento da empresa.
            </p>
            <button class="btn f-btn" [routerLink]="'/'+router.company" fragment="adout">Saiba mais</button>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>