<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-125">
    <daisy-hero-content [id]="idValue.mobile">
        <img src="assets/image/mobile.png" alt="fantury-mobile" class="max-w-sm w-175 rounded-lg shadow-2xl" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Fantury Mobile Sales</h1>
            <p class="py-6">
                O Fantury Mobile Sales é a nossa solução para vendas externas mais inteligentes e eficientes. Um
                aplicativo de vendas voltado para aparelhos Android que permite o gerenciamento de carteira de clientes
                do vendedor, catálogo de produtos e sincronismo com o retaguarda do Fantury ERP.

                Mais do que apenas um aplicativo, é a chave para transformar equipes de vendas comuns em equipes
                extraordinárias. Desenvolvido para simplificar e potencializar processos comerciais, este aplicativo é a
                resposta para impulsionar suas vendas externas de uma forma inovadora.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">
    <daisy-hero-content>
        <div class="p-4 ">
            <h1 class="text-4xl text-center font-bold">O Que Torna o Fantury Mobile Sales Único</h1>
            <p class="py-6 text-justify">
                O Fantury Mobile Sales é a ferramenta que sua equipe de vendas precisa para elevar suas performances a
                um novo patamar. Simplifique, automatize e conquiste mais vendas com este poderoso aliado para seu
                negócio!

                Automatização Descomplicada: Simplifique suas operações com o app offline, permitindo que sua equipe
                trabalhe de maneira eficaz mesmo em locais sem conexão com a internet.
                Conexão com o Cliente Aprimorada: Registre e gerencie informações de clientes de forma intuitiva com o
                cadastro personalizado, enquanto a busca por geolocalização otimiza o entendimento do endereço do
                cliente.
                Flexibilidade Financeira: Utilize o Controle de Saldo Flex para gerenciar finanças de forma flexível,
                proporcionando uma abordagem personalizada para cada transação.
                Integração ao Fantury ERP: Maximize seus resultados com a integração perfeita ao software Fantury ERP
                através do sincronismo de dados, que permite o envio e recebimento de dados de forma prática entre seu
                APP e ERP.
            </p>
            <p class="py-6 text-center">
                Disponível para aparelhos Android 9.0 ou superior em: <em> <a
                        href="https://play.google.com/store/apps/details?id=com.fantury.fanturymobile" target="_blank"
                        class="link link-info"> Mobile Sales – Apps no Google Play </a></em>
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>

<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-75">
    <daisy-hero-content [id]="idValue.pdvweb">
        <iframe FlexDimension src="https://www.youtube.com/embed/4SIRel4xpyc"
            title="Nova Versão do Fantury Mobile - Força de Vendas" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </daisy-hero-content>
</daisy-hero-ui>