<daisy-hero-ui o_bgBase="bg-base-300" [o_minHeight]="minHeight()">
    <daisy-hero-content o_hero-content_class="flex-col lg:flex-row-reverse" class="fade-in" [class.loaded]="loader()">
        <div>
            <h1 class="text-4xl" [id]="idValue.history">Histórico da Empresa</h1>
            <p class="py-4">
                A Fantury foi Fundada em Eunápolis-Bahia no ano de 1998, inicialmente com o nome de Caribé Silva
                Informática. Até 2003, trabalhamos em parceria com a empresa Optima Informática, para atender
                escritórios de contabilidade na região sul Bahia. A partir de 2000, começamos a desenvolver e a
                comercializar o Fantury ERP, com o objetivo de oferecer aos clientes um software com mais recursos,
                praticidade e menor custo do que os encontrados no mercado à época. Desde então, contabilizamos um
                aumento substancial no faturamento da empresa.
            </p>
            <p class="py-4">
                Em 2004, firmamos parceria com a empresa Exactus Software, com 40 anos de mercado, para oferecer uma
                linha de softwares completa para escritórios e empresas de contabilidade. Em 2007, através de novas
                tecnologias, passamos a atender clientes localizados em regiões distantes, localizados nos estado do
                Pará, Minas Gerais e Espírito Santo. Em 2010, pensando na expansão e necessidade de espaço, adquirimos
                um prédio para instalação definitiva da empresa, numa área de 290 m².
                Em 2011, fomos pelo segundo ano consecutivo, a maior Central de Atendimento da Exactus em volume de
                vendas e faturamento. Participamos de vários eventos, como o 14º Conescap realizado em Costa do Sauípe e
                a 10ª Convenção de Contadores do Estado da Bahia. No mesmo período, fomos premiados na 11ª edição do
                Prêmio Gestão Empreendedora. Em 2013, fizemos uma reforma para ampliação de nossas instalações, para
                melhor atender clientes internos e externos.
            </p>
            <p class="py-4">
                Em 2018, encerramos o ciclo de representação da empresa Exactus Software e voltamos nosso foco para a
                nossa própria solução em software, o Fantury ERP. Em 2019, mudamos o nome da empresa de “Caribé Silva
                Informática” para “Fantury Software”, por vários motivos. O principal é o fato dos nossos clientes e
                parceiros de negócios facilmente associarem o nome do nosso software (Fantury ERP) ao nome da empresa,
                tornando mais fácil a associação da marca Fantury com o produto/serviço que oferecemos.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>