<daisy-hero-ui [o_minHeight]="minHeight()">
  <daisy-hero-content class="flex-col lg:flex-row-reverse">
    <header>
      <h1 class="text-4xl" [id]="idValue.company">Fantury Software</h1>
      <p class="py-6">
        A Fantury Software atua na área de prestação de serviços direcionados ao desenvolvimento de soluções em software
        de Gestão Empresarial,
        através de linguagens tecnológicas de ponta, como
        <em>Visual Basic.NET, C#, ASP.NET Core, banco de dados MySQL, Angular, Typescript, NET.Maui. </em>
      </p>
      <p>
        Atendemos clientes em toda Bahia,
        Minas Gerais, Espírito Santo e Pará.
      </p>
    </header>
    <img src="./assets/image/programador2.png" class="max-w-md rounded-lg" alt="img"/>
  </daisy-hero-content>
</daisy-hero-ui>