<section class="px-6 py-12">
    <h2 class="text-3xl font-bold text-center mb-10">{{titleMain()}}</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (card of visibleCards(); track card.title) {
        <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-lg fade-in" [class.loaded]="loader()">
            <h3 class="text-xl font-semibold mb-3 ">{{ card.title }}</h3>
            <ul class="list-disc list-inside text-sm space-y-1">
                @for (item of card.items; track item) {
                <li [style.font-size]="'17px'">{{ item }}</li>
                }
            </ul>
        </div>
        }
    </div>
    @if (btnShow()) {
    <div class="text-center mt-10">
        <button (click)="toggleShowAll()"
            class="px-6 py-2 bg-indigo-600 text-white font-semibold rounded-full hover:bg-indigo-500 transition f-btn">
            {{ showAll() ? 'Ver menos' : 'Ver mais' }}
        </button>
    </div>
    }
</section>