<daisy-hero-ui o_bgBase="bg-base-300" o_minHeight="min-h-75">
    <daisy-hero-content o_hero-content_class="row column-xs align-item-1 text-justify gap-25" class="fade-in"
        [class.loaded]="loader()">
        <div class="item" [id]="idValue.mission">
            <h1 class="text-4xl">Missão</h1>
            <p class="py-7">
                Desenvolver softwares eficientes e eficazes, que contribuam com o crescimento das organizações e
                proporcionem às pessoas terem mais tempo para o que é importante na vida.
            </p>
        </div>
        <div class="item" [id]="idValue.meta">
            <h1 class="text-4xl">Meta</h1>
            <p class="py-7">
                Utilizar tecnologia de ponta para agregar as melhores soluções de gestão empresarial aos clientes
                através de nossos softwares.
            </p>
        </div>
        <div class="item-12">
            <h3 class="text-4xl">Filosofia de Trabalho</h3>
            <ul class="list-disc list-inside py-7">
                <li>Aperfeiçoamento contínuo dos profissionais;</li>
                <li>Através da ética profissional e honestidade, prover a satisfação dos clientes;</li>
                <li>Utilizar as melhores tecnologias para prover as melhores soluções ao mercado.</li>
            </ul>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>