<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-150">
    <daisy-hero-content [id]="idValue.chef">
        <img src="assets/image/restaurante.jpg"
            class="max-w-sm w-full rounded-lg shadow-2xl" alt="fantury_master_chef" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold text-left">Fantury Master Chef</h1>
            <p class="py-6">
                Voltado para Bares e Restaurantes. Solução perfeita para seu restaurante, ferramenta de gestão completa
                para o ramo, permite automatizar todas as áreas do estabelecimento com ferramentas voltadas para o
                atendimento, cozinha, garçons e entregas, tudo em um único sistema.
            </p>

            <div class="max-w-full text-left">

                <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
                    <ul class="list-disc list-inside text-lg space-y-1">

                        <li>Controle de turno e caixa</li>
                        <li>Controle de mesas e comandas, venda balcão e delivery</li>
                        <li>Lançador mobile para Android</li>
                        <li>Pronto para Monitores Touch Screen</li>

                    </ul>
                </div>

            </div>

        </div>
    </daisy-hero-content>
</daisy-hero-ui>
