<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">
  <daisy-hero-content [id]="idValue.cotacao">
    <img src="assets/image/cotacao.jpg" alt="fantury-cotacao-web" class="max-w-sm w-full rounded-lg shadow-2xl" />
    <div class="p-4 text-justify">
      <h1 class="text-4xl font-bold">Cotação Web</h1>
      <p class="py-6">
        Modernize o processo de compras da sua empresa com a Cotação Web. Agora ficou mais fácil e rápido
        solicitar preços a diversos fornecedores diretamente pelo sistema. Com a nova funcionalidade do
        Empresarial ERP, sua equipe de compras ganha agilidade e eficiência ao enviar cotações online, comparar
        propostas e tomar decisões com muito mais praticidade.
      </p>
      <p>
        A Fantury Software agrega ao processo de cotação do sistema uma nova funcionalidade, a Cotação Web. Este
        recurso pode transformar a maneira como sua empresa gerencia o processo de cotações, tornando-o mais
        prático e eficiente do que nunca. Com a Cotação Web, o responsável pelas compras pode enviar cotações
        diretamente do sistema para grupos de fornecedores selecionados. O processo é simples e direto:
      </p>
    </div>
  </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">
  <daisy-hero-content>
    <div class="max-w-full">
      <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
        <ol class="list-decimal list-inside text-lg space-y-1">
          <li>As cotações são enviadas diretamente do sistema, facilitando a comunicação com os
            fornecedores.
          </li>
          <li>Os fornecedores recebem a cotação por e-mail, junto com um link para uma página onde podem
            preencher os preços dos produtos solicitados.</li>
          <li>Os fornecedores acessam uma página dedicada onde inserem os preços e outras condições para
            os
            produtos cotados. Após preencherem as cotações, os dados são enviados de volta para o
            comprador
            através do sistema, onde o responsável pelas compras pode visualizar e comparar todas as
            ofertas
            recebidas.</li>
        </ol>
      </div>
    </div>
  </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">
  <daisy-hero-content>
    <div class="max-w-full">
      <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
        <h3 class="text-xl font-semibold mb-3 ">A Cotação Web oferece várias vantagens significativas para o
          seu
          processo de compras:</h3>
        <ul class="list-disc list-inside text-lg space-y-1">
          <li>Simplifica o envio e recebimento de cotações, eliminando a necessidade de múltiplos e-mails
            e
            documentos físicos.</li>
          <li>Centralização das informações. Todas as cotações recebidas são armazenadas no sistema,
            facilitando a comparação e a análise das ofertas.</li>
          <li>Automatiza partes do processo de cotações, permitindo que sua equipe de compras se concentre
            em
            tarefas estratégicas.</li>
          <li>Melhoria na Comunicação. A comunicação direta via e-mail e a página dedicada para
            fornecedores
            garantem que as informações sejam recebidas e preenchidas de forma precisa e rápida.</li>
          <li>Transparência e Controle. Mantém um registro claro e acessível de todas as cotações enviadas
            e
            recebidas, melhorando a transparência e o controle do processo de compras.</li>
        </ul>
      </div>

    </div>
  </daisy-hero-content>
</daisy-hero-ui>
