<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-125">
    <daisy-hero-content [id]="idValue.coletor">
        <img src="assets/image/coletor.png"
            alt="fantury-coletor" class="max-w-sm w-full rounded-lg shadow-2xl" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Fantury Coletor</h1>
            <p class="py-6">
                O Fantury Coletor é um aplicativo Android desenvolvido com a finalidade de auxiliar a contagem e
                conferência de estoque da sua empresa transformando o seu aparelho celular ou tablet em um um coletor de
                dados que realiza a leitura de código de barras de produtos, soma quantidades e gera listas de
                conferência de mercadoria.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">
    <daisy-hero-content>
        <div class="p-4 ">
            <h1 class="text-4xl font-bold">Funcionalidades</h1>
            <p class="py-6 text-justify">
                A dispensa de papel e consulta via código de barras oferecida pelo aplicativo aumenta a segurança das
                informações coletadas, além de prover para a sua empresa a otimização do tempo de conferência. Os
                valores aferidos durante o processo são armazenados em listas de contagem, que então podem ser enviadas
                diretamente para o seu ERP via nuvem ou realizar a exportação do seu arquivo de contagem diretamente no
                aparelho ou via compartilhamento, ainda é possível enviar as contagens via nuvem diretamente para seu
                ERP via sincronismo de dados.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">

    <daisy-hero-content o_hero-content_class="text-left">
        <div class="max-w-full">
            <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
                <h3 class="text-xl font-semibold mb-3 ">Vantagens do app</h3>
                <ul class="list-disc list-inside text-lg space-y-1">
                    <li>Trabalhe offline (não precisa estar conectado à Internet para realizar as contagens de estoque);</li>
                    <li>Leitura de todos os formatos de código de barras;</li>
                    <li>Contagem acumulativa ou com intervenção manual;</li>
                    <li>Controle de Coletas por listas de conferência;</li>
                    <li>Exportação de lista via arquivo TXT.</li>
                </ul>
            </div>

        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-25">
    <daisy-hero-content>
        <div class="p-4 ">
            <p class="py-6 text-center">
                Disponível para aparelhos Android 9.0 ou superior em: <em> <a
                        href="https://play.google.com/store/apps/details?id=br.com.fantury.fanturycollector" target="_blank"
                        class="link link-info"> Fantury Coletor – Apps no Google Play </a></em>
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
