<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-100">
    <daisy-hero-content [id]="idValue.contador">
        <img src="assets/image/portal-contador.png" class="max-w-lg w-full rounded-lg shadow-2xl" />
        <div class="p-4 text-justify">
            <h1 class="text-4xl font-bold">Portal do Contador</h1>
            <p class="py-6">
                O portal oferece uma plataforma totalmente integrada aos nossos sistemas, proporcionando uma maneira
                prática e automatizada de estabelecer contato direto com o contador. Além disso, permite o armazenamento
                e o envio de documentos fiscais e relatórios que são essenciais para a contabilidade da sua empresa.
                Simplifique e otimize seus processos ao adotar o envio automático desses documentos, economizando tempo,
                garantindo organização e eliminando preocupações relacionadas ao espaço e a possíveis perdas.
            </p>
        </div>
    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-10">

    <daisy-hero-content o_hero-content_class="text-left">
        <div class="max-w-full">

            <div class="bg-base-100 p-6 rounded-xl shadow hover:shadow-xl">
                <h3 class="text-xl font-semibold mb-3 ">Principais vantagens: </h3>
                <ul class="list-disc list-inside text-lg space-y-1">
                    <li>Acesso fácil aos documentos fiscais por meio de um sistema de login seguro;</li>
                    <li>Armazenamento em nuvem dos documentos, com a praticidade de baixar os arquivos XML diretamente
                        pelo portal;</li>
                    <li>Acesso rápido às movimentações e notas fiscais emitidas; </li>
                    <li>Melhoria na Comunicação. A comunicação direta via e-mail e a página dedicada para
                        fornecedores
                        garantem que as informações sejam recebidas e preenchidas de forma precisa e rápida.</li>
                    <li>Sincronização abrangente de diversos tipos de documentos, incluindo NF-e de saída, NFC-e, EFD
                        Fiscal, EFD Contribuições, Sintegra e Relatórios.</li>
                </ul>
            </div>
        </div>

    </daisy-hero-content>
</daisy-hero-ui>
<daisy-hero-ui o_bgBase="bg-base-200" o_minHeight="min-h-50">
    <daisy-hero-content o_hero-content_class="text-left">
        <p class="py-6">
            Aproveite todas essas funcionalidades para aprimorar a eficiência do seu trabalho contábil e garantir uma
            gestão mais eficaz para a sua empresa. Estamos comprometidos em oferecer soluções que facilitem o seu dia a
            dia e contribuam para o sucesso dos seus negócios.
        </p>
    </daisy-hero-content>
</daisy-hero-ui>
